{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}

<!-- HERO -->
  <section id="home" class="hero">
    <div class="container">
      <div class="content">
        <img src="{{url_for('static', filename='img/Logo.jpg')}}" alt="" id="logo_img"><br>
        <h1 class="mb-3">Начни ваш путь в IT</h1>
        <p class="mb-4">Программирование, 3д-моделирование, мультипликация, рисование, английский язык, математика и др.</p>
        <div class="d-flex flex-column flex-sm-row gap-3">
          <a href="auth/login" class="btn btn-primary"><h1>Начать сейчас</h1></a>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}