{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}


<div class="login-container min-height d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="login-card">
                    
                    <h4 class="text-center mb-3">
                        Изменить пароль для: <br>
                        <b>{{ data["user"].fullname }}</b>
                    </h4>

                    <form action="{{ url_for('admin.changePassword') }}" method="post">

                        {{ form.hidden_tag() }}

                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                <div class="flash-messages">
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        {{ form.user_id(type="hidden", value = data['user'].id)}}
                        {{ form.new_password.label(class="form-label")}}
                        {{ form.new_password(type="password", class="form-control mb-3")}}
                        {{ form.submit(type="submit", class="btn btn-primary w-100")}}

                    </form>
          </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}
