{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="login-container min-height d-flex flex-column align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="login-card">
            <h1 class="login-title">Вход в систему</h1>
            <form method="post" action="{{ url_for('auth.login') }}">
              {% with messages = get_flashed_messages(with_categories=True) %}
                  {% if messages %}
                      <div class="flash-messages">
                          {% for category, message in messages %}
                              <div class="alert alert-{{ category }}">
                                  {{ message }}
                              </div>
                          {% endfor %}
                      </div>
                  {% endif %}
              {% endwith %}

              <div class="mb-3">
                {{ form.hidden_tag() }}
                <!-- <label for="loginInput" class="form-label">Логин</label>
                <input type="text" class="form-control" id="loginInput" placeholder="Введите ваш логин" required> -->
                {{ form.username.label(class="form-label", for="loginInput") }}
                {{ form.username(class="form-control", id="loginInput") }}
              </div>
              <div class="mb-3">
                <!-- <label for="passwordInput" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Введите ваш пароль" required> -->
                {{ form.password.label(class="form-label", for="passwordInput") }}
                {{ form.password(class="form-control", id="passwordInput") }}
              </div>
              <div class="mb-4 form-check">
                {{ form.remember_me(class="form-check-input", id="rememberCheck") }}
                {{ form.remember_me.label(class="form-check-label", for="rememberCheck") }}
              </div>
              <!-- <button type="submit" class="btn btn-primary">Войти</button> -->
              {{ form.submit(class="btn btn-primary") }}
              <!-- <div class="text-center mt-3">
                <a href="#forgot">Забыли пароль?</a>
              </div> -->
              <div class="text-center mt-2">
                <span class="text-muted small">Нет аккаунта?</span>
                <a href="{{url_for('auth.register')}}" class="ms-1">Зарегистрироваться</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}